@charset "UTF-8";

/* --------------------
  General, container and wrapper CSS
-------------------- */

.graphContainer,
.graphContainer * {
  box-sizing: border-box;
}

.graphContainer {
  padding: 0 0 40px 60px;
  position: relative;
}

.graphContainer .graphWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  border: 1px solid #aaa;
}

/* --------------------
  Graph CSS
-------------------- */

.graphContainer .graphWrapper .graph {
  width: 100%;
  height: 100%;
  position: relative;
}

/* --------------------
  Axis CSS
-------------------- */

.graphContainer .axis {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.graphContainer .axis .label {
  width: 100%;
  height: 20px;
  padding: 0 0 0 60px;
}

.graphContainer .axis .label,
.graphContainer .axis .iterations {
  position: absolute;
  left: 0;
}

.graphContainer .axis.x .label {
  bottom: 0;
}

.graphContainer .axis.x .iterations {
  width: 100%;
  height: 20px;
  bottom: 20px;
  padding: 0 0 0 60px;
}

.graphContainer .axis.y .label,
.graphContainer .axis.y .iterations {
  top: 0;
}

.graphContainer .axis.y .iterations {
  width: 60px;
  height: 100%;
  padding: 20px 0 0 0;
}