@charset "UTF-8";

/* --------------------
  General, container and wrapper CSS
-------------------- */

.graphContainer,
.graphContainer * {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.graphContainer {
  padding: 20px 0 40px 60px;
  position: relative;
}

.graphContainer .graphWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  border: 1px solid #aaa;
}

/* --------------------
  Graph CSS
-------------------- */

.graphContainer .graphWrapper .graph {
  width: 100%;
  height: 100%;
  position: relative;
}

/* --------------------
  Axis CSS
-------------------- */

.graphContainer .axis {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 21px 1px 41px 61px;
}

.graphContainer .axis .label {
  width: 100%;
  height: 20px;
  padding: 0 0 0 60px;

  font-size: 12px;
  font-weight: 700;
  color: #212121;
}

.graphContainer .axis .iterations .inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.graphContainer .axis .iterations .inner p {
  width: 100px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #848484;
  position: absolute;
  padding: 0;
  margin: 0;
}

.graphContainer .axis .label,
.graphContainer .axis .iterations {
  position: absolute;
  left: 0;
}

.graphContainer .axis .lines {
  width: 100%;
  height: 100%;
  position: relative;
}

.graphContainer .axis .lines .line {
  background: #eee;
  position: absolute;
}

.graphContainer .axis.x .label {
  bottom: 0;
  text-align: right;
}

.graphContainer .axis.x .iterations {
  width: 100%;
  height: 20px;
  bottom: 20px;
  padding: 0 0 0 60px;
}

.graphContainer .axis.x .iterations .inner p {
  top: 5px;
  margin: 0 0 0 -50px;
}

.graphContainer .axis.x .iterations .inner p:first-child {
  text-align: left;
  left: 0px;
  margin: 0;
}

.graphContainer .axis.x .iterations .inner p:last-child {
  text-align: right;
  right: 0;
  left: auto;
  margin: 0;
}

.graphContainer .axis.x .lines .line {
  width: 1px;
  height: 100%;
  top: 0;
}

.graphContainer .axis.y .label,
.graphContainer .axis.y .iterations {
  top: 0;
}

.graphContainer .axis.y .iterations {
  width: 60px;
  height: 100%;
  padding: 20px 0 40px 0;
}

.graphContainer .axis.y .iterations .inner p {
  right: 5px;
  margin: 0 0 -4px 0;
  text-align: right;
}

.graphContainer .axis.y .iterations .inner p:first-child {
  bottom: 0;
  top: auto;
  margin: 0;
}

.graphContainer .axis.y .iterations .inner p:last-child {
  top: 0;
  bottom: auto;
  margin: 0;
}

.graphContainer .axis.y .lines .line {
  width: 100%;
  height: 1px;
  left: 0;
}
